data/eurlex/*.json
data/eurlex/*.txt
data/eurlex/*.html
data/eurlex/texts/*.txt
data/eurlex/texts/*.html
data/eurlex/notexts/*.txt
data/eurlex/notexts/*.html
data/eurlex/*.csv
*.zip
.ipynb_checkpoints
exploration/*.svg
evaluation/*.txt
evaluation/*.json
evaluation/*.svg
*.class
*.tar.gz
solr/synonyms/WNprolog-*
synonyms.txt
