.search-result-body body {
    font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
}

.search-result-body p {
    margin: 10px 35px 10px 45px;
    font-size: 0.8em;
}

.search-result-body h1 {
    font-size: 1.1em;
    color: #757D8D;
    margin: 10px 30px;
}

.search-result-body h2 {
    font-style: normal; /* overrides italic from misplaced <em>*/
    font-size: 1em;
    color: #757D8D;
    margin: 35px 35px 5px 35px;
}

.search-result-body #banner {
    display:none;
}

.search-result-body #TexteOnly {
    font-size: 0.9em;
    border: 1px solid #112449;
    margin: 0px 30px 10px;
    padding: 10px;
    font-weight: normal;
}

.search-result-body #TexteOnly p {
    margin-left: 15px;
}